<a href="https://colab.research.google.com/github/poandpo/project-/blob/main/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**기본 데이터 전처리**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2.csv

In [1]:
import pandas as pd

df= pd.read_csv('vgames2.csv', index_col=0) #df로 파일 불러오는데 인덱스를 숫자 있는 열(0행)로 지정
df

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.01
16595                     Rainbow Islands: Revolution  ...           0
16596                                        NBA 2K16  ...        0.13
16597                     Toukiden: The Age of Demons  ...        0.03
16598                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [2]:
df.isnull().sum() # 결측치 확인
df['Year']=df['Year'].fillna(0).replace('N/A',0).astype(int) # Year 피쳐에 결측지 0으로 대체하고 N/A를 0으로 대체하고 정수형 타입으로 변환
df[['Genre','Publisher' ]]=df[['Genre','Publisher' ]].fillna('unknown') #Genre,Publisher 피쳐의 결측치를 unknown으로 대체
#df['Platform']=df['Platform'].replace('챕','e')

In [3]:
def value_to_float(x):
    if 'K' in x:
       return float(x.replace('K', '')) * 0.001
    elif 'M' in x: 
       return float(x.replace('M', ''))
    else:
       return float(x)

df['NA_Sales']=df['NA_Sales'].apply(value_to_float)
df['EU_Sales']=df['EU_Sales'].apply(value_to_float)
df['JP_Sales']=df['JP_Sales'].apply(value_to_float)
df['Other_Sales']=df['Other_Sales'].apply(value_to_float)
#출고량 피쳐에서 'M'을 빼고 정수형으로 바꾸고, 'K'를 빼고 0,0001를 곱하여 단위를 맞춤

In [4]:
df.dtypes #타입 잘 바뀌었는지 확인

Name            object
Platform        object
Year             int64
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [10]:
def value_to_year(x):
   if x in range(1,20):
      return x + 2000  
   elif x in range(80,100):
      return x + 1900   
   else :   
      return x

df['Year']=df['Year'].apply(value_to_year) # 97이나 9같은 한 두자리 숫자를 1997,2009으로 바꿈

In [11]:
df['Year'].iloc[81] # 잘 바뀌었는지 확인

1997

In [12]:
df['Year'].value_counts()

2009    1431
2008    1428
2010    1259
2007    1202
2011    1139
2006    1008
2005     941
2002     829
2003     775
2004     763
2012     657
2015     614
2014     582
2013     546
2001     482
1998     379
2000     346
2016     344
1999     338
1997     289
0        274
1996     263
1995     219
1994     121
1993      60
1981      46
1992      43
1991      41
1982      36
1986      21
1989      17
1983      17
1990      16
1987      16
1988      15
1984      14
1985      14
1980       9
2017       3
2020       1
Name: Year, dtype: int64